.date-input {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  padding: 1rem 1rem 1rem 0;
}

h5 {
  margin: 0px;
  padding-left: 5px;
}
