<app-grid-date-layout [headerTitle]="headerTitle" (dateChanged)="onDateChange($event)">
  <app-data-grid [data]="gridData" [columnsStructure]="columnsStructure"></app-data-grid>

  <section class="actions">
    <dx-button type="default" text="Add transfer" (onClick)="addTransfer()"></dx-button>
  </section>
  <app-transfer-form
    (popupVisibilityChanged)="onPopupVisibilityChanged($event)"
    (transferAdded)="onTransferAdded()"
    [isPopupVisible]="isPopupVisible"
    [columnsStructure]="columnsStructureInput"
  ></app-transfer-form>
</app-grid-date-layout>
