<!-- <div class="tiles-container">
  @for(cage of cages(); track cage.id) {
  <app-card (click)="editCage(cage)" [data]="cage" />
  }
</div> -->
<div class="tiles-container">
  @for(cage of cages(); track cage.id) {
  <app-card [data]="cage" (edit)="editCage($event)" (delete)="deleteCage($event.id)"> </app-card>
  }
</div>

<div class="actions">
  <dx-button type="default" text="Create cage" (onClick)="createCage()"></dx-button>
</div>

<app-cage-form
  (popupVisibilityChanged)="onPopupVisibilityChanged($event)"
  [isPopupVisible]="isPopupVisible"
  [initialData]="selectedData"
  [mode]="mode"
/>
