<!-- <p>cages works!</p>

<dx-tile-view
  #tileView
  [height]="390"
  [baseItemHeight]="120"
  [baseItemWidth]="185"
  width="100%"
  [itemMargin]="10"
  direction="horizontal"
>
  @for(home of tileViewData; track home) {
  <dxi-item class="card" [widthRatio]="home.widthRatio" [heightRatio]="home.heightRatio">
    {{ home.text }}
  </dxi-item>
  }
</dx-tile-view>

 -->

<div class="tiles-container">
  @for(home of tileViewData; track home) {
  <app-card (click)="editCage(home)" [data]="home" />
  }
</div>

<div class="actions">
  <dx-button type="default" text="Create cage" (onClick)="createCage()"></dx-button>
</div>

<app-cage-form
  (popupVisibilityChanged)="onPopupVisibilityChanged($event)"
  [isPopupVisible]="isPopupVisible"
  [initialData]="selectedData"
  [mode]="mode"
/>
