:root {
  --primary-color: #0078d4;
  --secondary-color: #2b88d8;
  --background-color: #f5f5f5;
  --text-color: #333;
  --border-color: #ddd;
  --drawer-color: #c1c2cf;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}
